# gmail transport creds
NUXT_GMAIL_USER=you@gmail.com
NUXT_GMAIL_APP_PASSWORD=xxxxxxxxxxxxxxxx

# contact form recipients, comma separated
# first one is the recipient, the rest are CC'd
NUXT_CONTACT_RECIPIENTS="riad.hachemane@devenn.net, riad.hachemane.alwasaet@gmail.com"
